[flake8]
max-line-length = 99
ignore =
    W504,
    W503,
    W605,  # invalid escape sequence '\ '
    E266,
    E402,  # module level import not at top of file
    E226,  # missing whitespace around arithmetic operator
exclude =
    .git,
    __pycache__,
    __init__.py,
    build,
    dist,
    docs/*
    example/*
    scratch/*
