sphinx==3.2.0
sphinx_rtd_theme==0.4.3
sphinx-automodapi==0.12
commentjson
h5py
matplotlib
notebook
numpy
opencv-python
requests
scikit-image
scikit-learn
scipy
seaborn
test-tube==0.7.3
torch==1.3.1
tqdm